.horarios-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 !important;
}

.column-dia{
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 110px;
    padding: 4px 4px;
}

.column-hora{
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 120px;
    padding: 4px 8px;
    text-align: center;
}

.column-descanso{
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 95px;
    padding: 4px 8px;
    text-align: center;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #fff;
    background-color: #b5b5b5;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #b5b5b5;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: #6c757d;
    border-color: #6c757d;
}

.column-dia-view{
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 80px;
    max-width: 80px;
    padding: 2px 2px;
}

.column-hora-view{
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 120px;
    padding: 2px 8px;
    text-align: center;
}

.column-descanso-view{
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 120px;
    padding: 2px 8px;
    text-align: center;
}
