$input_background_disabled: hsl(0,0%,95%);
$input_border_disabled: hsl(0,0%,90%);
$input_text_disable: hsl(0,0%,60%);

hr {
	margin-top:20px;
	margin-bottom:20px;
	border-top: 1px solid #eaecec;
	&.hr-2 {
		border-width: 2px!important;
	}
	&.hr-3 {
		border-width: 3px!important;
	}
}

.ffqHfU{
    border-color: $pink_bertha !important;
}

.icon-question{
    cursor: pointer;
}

.form-group {
  margin-bottom: 1rem;
}

.alert{
    border: none!important;
}

.text-success{
    color: $green_bertha !important;
}

.font-weight-bold{
    font-weight: bold;
}

label {
    margin-bottom: 10px;
    color: #324148;
}

/*Align*/

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}


/*--------RED CIRCLE RECORDING--------*/

/*--SCSS to make my life easy--*/
$light: #FF3200;

@mixin animation-attributes {
    animation-name: myAnimation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

/*--The Object--*/
.red-circle-recording {
    background-color: $light;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: auto;
    @include animation-attributes;
}

/*--The animation--*/
@keyframes myAnimation {
    0% {background-color: #FFFFFF;}
    50% {background-color: $light;}
    100% {background-color: #FFFFFF;}
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type=submit].btn-block,
input[type=reset].btn-block,
input[type=button].btn-block {
  width: 100%;
}

.btn-lg {
  font-size: 1.1rem;
  border-radius: 0.25rem;
}

.custom-modal{
  //margin: 0 .5rem !important
  .close-button{
    right: 1rem;
    position: absolute;
    cursor: pointer;
  }
}

.navbar-menu-modal{
  max-width: 95vw !important;

  .modal-content{
    height: 95vh !important;
  }

}

.flyer-style{
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    font-weight: 700;
    color: black;
}

.loader-pendulums {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	margin: 0 auto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 4rem;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border: 0.1em solid #eaecec;
	&:before,&:after {
		content: '';
		width: 1em;
		height: 1em;
		left: -.1em;
		top: -.1em;
		padding: .1em;
		display: block;
		border-radius: 50%;
		position: absolute;
		-webkit-transform-origin: center center;
		transform-origin: center center;
		border: .1em solid;
		border-color: #adb3b6 transparent transparent transparent;
		-webkit-animation: pendulum infinite 2s cubic-bezier(0.3, 1.65, 0.7, -0.65);
		animation: pendulum infinite 2s cubic-bezier(0.3, 1.65, 0.7, -0.65);
	}
	&:before {
		border-color: $pink_bertha transparent transparent transparent;
		-webkit-animation-delay: -1s;
		animation-delay: -1s;
		-webkit-animation-name: pendulum2;
		animation-name: pendulum2;
	}
}

@-webkit-keyframes pendulum {
	from {
    transform: rotate(0deg);
	}
	to {
    transform: rotate(359deg);
	}
}

@keyframes pendulum {
	from {
    transform: rotate(0deg);
	}
	to {
    transform: rotate(359deg);
	}
}
@-webkit-keyframes pendulum2 {
	from {
    transform: rotate(180deg);
	}
	to {
    transform: rotate(520deg);
	}
}
@keyframes pendulum2 {
	from {
    transform: rotate(180deg);
	}
	to {
    transform: rotate(520deg);
	}
}

.no-box-shadow, .no-box-shadow:hover, .no-box-shadow:active, .no-box-shadow:focus{
    box-shadow: unset !important;
}



.icon-action, .icon-action-sm, .icon-action-md, .icon-action-lg{
    color: black;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    &, &:hover, &:focus, &:active{
        cursor: pointer;
    }
}

.icon-action{
    font-size: 0.9rem;
}

.icon-action-sm{
    font-size: 0.9rem;
}

.icon-action-md{
    font-size: 1rem;
}

.icon-action-lg{
    font-size: 1.25rem;
}

.icon-red{
    color: red;
}

.icon-green{
    color: $green_bertha !important;
}

.icon-green-dark{
    color: green !important;
}

.icon-gray{
    color: rgb(155, 155, 155) !important;
}

.icon-pink{
    color: $pink_bertha !important;
}

.icon-purple{
    color: $purple_bertha !important;
}

.icon-gold{
    color: darkgoldenrod;
}

.icon-cuarentena{
    color: orangered !important;
    cursor: pointer;
}

.fas{
  width: fit-content !important;
}

.pagination-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.page-link {
	color:$dark;
	border-color:$light_10;
	&:focus,&:hover {
		color:$dark;
		background-color: $light_10;
		border-color: $light_10;
	}
}
.pagination {
	.page-item {
    &.disabled{
      .page-link{
        background-color: #FFFFFF !important;
      }
    }
		&.active {
			.page-link {
				background:$sky;
				border-color:$sky;
				color:$white;
			}
			&.active-info,
			&.active-cyan {
				.page-link {
					background:$cyan;
					border-color:$cyan;
					color:$white;
				}
			}
			&.active-primary,
			&.active-sky {
				.page-link {
					background:$sky;
					border-color:$sky;
					color:$white;
				}
			}
			&.active-success,
			&.active-green {
				.page-link {
					background:$green;
					border-color:$green;
					color:$white;
				}
			}
			&.active-danger,
			&.active-red {
				.page-link {
					background:$red;
					border-color:$red;
					color:$white;
				}
			}
			&.active-warning,
			&.active-yellow {
				.page-link {
					background:$yellow;
					border-color:$yellow;
					color:$white;
				}
			}
			&.active-pink {
				.page-link {
					background:$pink;
					border-color:$pink;
					color:$white;
				}
			}
			&.active-purple {
				.page-link {
					background:$purple;
					border-color:$purple;
					color:$white;
				}
			}
			&.active-violet {
				.page-link {
					background:$violet;
					border-color:$violet;
					color:$white;
				}
			}
			&.active-indigo {
				.page-link {
					background:$indigo;
					border-color:$indigo;
					color:$white;
				}
			}
			&.active-blue {
				.page-link {
					background:$blue;
					border-color:$blue;
					color:$white;
				}
			}
			&.active-teal {
				.page-link {
					background:$teal;
					border-color:$teal;
					color:$white;
				}
			}
			&.active-neon {
				.page-link {
					background:$neon;
					border-color:$neon;
					color:$white;
				}
			}
			&.active-lime {
				.page-link {
					background:$lime;
					border-color:$lime;
					color:$white;
				}
			}
			&.active-sun {
				.page-link {
					background:$sun;
					border-color:$sun;
					color:$white;
				}
			}
			&.active-orange {
				.page-link {
					background:$orange;
					border-color:$orange;
					color:$white;
				}
			}
			&.active-pumpkin {
				.page-link {
					background:$pumpkin;
					border-color:$pumpkin;
					color:$white;
				}
			}
			&.active-brown {
				.page-link {
					background:$brown;
					border-color:$brown;
					color:$white;
				}
			}
			&.active-gold {
				.page-link {
					background:$gold;
					border-color:$gold;
					color:$white;
				}
			}
			&.active-secondary,
			&.active-grey {
				.page-link {
					background:$grey;
					border-color:$grey;
					color:$white;
				}
			}
			&.active-light {
				.page-link {
					background:$light_10;
					border-color:$light_10;
					color:$dark;
				}
			}
			&.active-dark {
				.page-link {
					background:$dark;
					border-color:$dark;
					color:$white;
				}
			}
		}
		&.disabled {
			.page-link {
				color:$light_30;
			}
		}
	}
	&.custom-pagination {
		.page-item {
			+ .page-item {
				padding-left: 8px;
				margin: 0;
			}

      .disabled{
        .page-link{
          background-color: #fff;
        }
      }
		}
		.page-link {
			padding: .5rem .8rem;
			border-radius:.25rem;
		}
		&.pagination-rounded {
			.page-link {
				border-radius:50px;
			}
			.page-item:first-child,
			.page-item:last-child {
				.page-link {
					border-radius:50px;
				}
			}
		}
		&.pagination-filled {
			.page-item:not(.active) {
				.page-link {
					background:$light;
					border-color: $light;
				}
				&:hover {
					.page-link {
						background-color: $light_10;
					}
				}
			}
		}
		&.pagination-simple {
			.page-item:not(.active) {
				.page-link {
					border-color:transparent;
				}
			}
		}
	}
}

.border-circled-white{
    border: solid 2px white;
    border-radius: 0.25rem;
}

.pagination .page-item.active .page-link {
    background: $pink_bertha;
    border-color: $pink_bertha;
    color: #fff;
}

.verificacion-section{
    h5{
        color: #324148 !important;
        font-weight: 500 !important;
    }
}

.isLoadingArea{
    font-size: 30px;
    text-align: center;
    padding: 2rem 0;
}

.react-tel-input .form-control{
    text-underline-position: under !important;
}

.tooltip-tc .tooltip-inner {
    max-width: 450px;
    color: white;
    text-align: left;
    background: $purple_bertha;
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: 0.625rem;
}

.tooltip-gray .tooltip-inner {
    max-width: 450px;
    color: white;
    text-align: left;
    background: rgba(108,117,125,.5);
    padding: 0.5rem 0.7rem;
    font-size: 0.8rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: 0.625rem;
}

.tooltip-tc-expanded .tooltip-inner {
    max-width: 750px;
    color: white;
    text-align: left;
    background: $purple_bertha;
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: 0.625rem;
}

.tooltip-ph .tooltip-inner {
    max-width: 450px;
    color: white;
    text-align: left;
    background: $pink_bertha;
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: 0.625rem;
}

.react-datepicker-time__header{
    color: white !important;
}

.react-datepicker-wrapper {
    display: block !important;

    .react-datepicker__input-container {
        position: relative;
        display: block !important;
    }
}

.react-datepicker__header{
    background-color: $purple_bertha !important;

    .react-datepicker__year-select, .react-datepicker__current-month, .react-datepicker__month-select{
        color: white !important;
    }

    .react-datepicker__month-select, .react-datepicker__year-select{
        option{
            color: black !important;
        }

        option:hover{
            background-color: $pink_bertha !important;
        }
    }
}

.modal-title{
    h6{
        font-weight: bold !important;
        margin-bottom: 0 !important;
    }
}

.badge{
    font-weight: bold !important;
}

/*-React Input tag-*/

div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
    margin: 0 10px 5px 0;
    font-size: 1rem;
}
div.ReactTags__tagInput input.ReactTags__tagInputField{
    margin: 0;
    font-size: 1rem;
    width: 100%;
    border: 2px solid $purple_bertha;
    border-radius: 0.25rem;
    padding: 5px;
}

div.ReactTags__tagInput input.ReactTags__tagInputField:focus{
    border-bottom: 2px solid purple;

}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 2px solid #ced4da;
    border-radius: 0.25rem;
    background:none;
    display: inline-block;
    padding: 5px;
    margin: 0 10px 5px 0;
    font-size: 1rem;
    cursor: move;
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

/*------------*/

/*Form*/
.form-control-textarea {
    width: 100%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid $light_15;
    border-radius: 0.25rem;
    padding: .375rem .75rem !important;
    height: calc(2.25rem + 4px);
    &:focus {
        box-shadow:none;
        border-color:$dark_40;
    }
    &.square-input {
        border-radius:0;
    }
    &:disabled {
        background-color: $input_background_disabled;
        border-color:$input_border_disabled;
        color:$input_text_disable;
        opacity: 1;
    }
    &[readonly] {
        background-color: $white;
        border-color:$light_20;
    }
    &.filled-input {
        background:$light;
        border:none;
        &:focus {
            background:$light_10;
            border:none;
            box-shadow: none;
        }
        &:disabled {
            background:$light;
        }
        &[readonly] {
            background-color: $light_20;
        }
    }
    &.outline-input {
        background:transparent;
    }
    &.transparent-input {
        background:transparent;
        border:none;
        &:focus {
            background:transparent;
            border:none;
            box-shadow: none;
        }
    }
    &.rounded-input {
        border-radius:50px;
    }
    &::-webkit-input-placeholder {
        color:$light_30;
    }
    &:-moz-placeholder {
        color:$light_30;
    }
    &::-moz-placeholder {
        color:$light_30;
    }
    &:-ms-input-placeholder {
        color:$light_30;
    }
}
.form-control-lg,
.custom-select-lg {
    font-size: 1.1rem;
    padding: .5rem 1rem;
    height: calc(2.875rem + 4px);
}
.form-control-sm,
.custom-select-sm {
    font-size: 0.875rem;
    padding: .25rem .5rem;
    height: calc(1.8125rem + 4px);
}
.custom-select {
    padding-right:1.75rem;
}
/*Inut group*/
.input-group-prepend {
    margin-right: -2px;
}
.input-group-append {
    margin-left: -2px;
}
.input-group-append .btn+.btn, .input-group-append .btn+.input-group-text, .input-group-append .input-group-text+.btn, .input-group-append .input-group-text+.input-group-text, .input-group-prepend .btn+.btn, .input-group-prepend .btn+.input-group-text, .input-group-prepend .input-group-text+.btn, .input-group-prepend .input-group-text+.input-group-text {
    margin-left: -2px;
}
.input-group > .custom-file + .custom-file, .input-group > .custom-file + .custom-select, .input-group > .custom-file + .form-control, .input-group > .custom-select + .custom-file, .input-group > .custom-select + .custom-select, .input-group > .custom-select + .form-control, .input-group > .form-control + .custom-file, .input-group > .form-control + .custom-select, .input-group > .form-control + .form-control {
    margin-left: -2px;
}
.input-group-text {
    border-color:$light_10;
    background-color: $light;
    border-width: 2px;
}
label {
    margin-bottom: 10px;
    color:$dark;
}
.custom-control-input:disabled ~ .custom-control-label {
    color: $smoke;
}
.custom-file-label {
    color: $dark;
    border: 2px solid $light_10;
    height: calc(2.25rem + 4px);
    &:after {
        border-left:0;
        background:$light;
    }
}
/*Form validation*/
.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: $green;
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: $red_light_1;
}
.valid-feedback {
    color: $green;
}
.invalid-feedback {
    color: $red_light_1;
}
.custom-control-input.is-valid ~ .custom-control-label, .was-validated .custom-control-input:valid ~ .custom-control-label {
    color: $green;
}
.custom-control-input.is-invalid ~ .custom-control-label, .was-validated .custom-control-input:invalid ~ .custom-control-label {
    color: $red_light_1;
}
.custom-control-input.is-invalid ~ .custom-control-label::before, .was-validated .custom-control-input:invalid ~ .custom-control-label::before {
    background-color: $red_light_1;
}
.custom-control-input.is-valid ~ .custom-control-label::before, .was-validated .custom-control-input:valid ~ .custom-control-label::before {
    background-color: $green;
}
.custom-control-input.is-valid:checked ~ .custom-control-label::before, .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
    background-color: $green;
}
.custom-control-input.is-invalid:focus ~ .custom-control-label::before, .was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before {
    box-shadow: none;
}
.custom-control-input.is-valid:focus ~ .custom-control-label::before, .was-validated .custom-control-input:valid:focus ~ .custom-control-label::before {
    box-shadow: none;
}
.custom-select.is-valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .was-validated .form-control:valid:focus {
    border-color:$green;
    box-shadow: none;
}
.custom-select.is-invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: $red_light_1;
    box-shadow: none;
}
.custom-file-input.is-invalid ~ .custom-file-label, .was-validated .custom-file-input:invalid ~ .custom-file-label {
    border-color: $red_light_1;
}
.custom-file-input.is-valid ~ .custom-file-label, .was-validated .custom-file-input:valid ~ .custom-file-label {
    border-color: $green;
}
.custom-file-input.is-valid:focus ~ .custom-file-label, .was-validated .custom-file-input:valid:focus ~ .custom-file-label {
    box-shadow: none;
    border-color: $green;
}
.custom-file-input.is-invalid:focus ~ .custom-file-label, .was-validated .custom-file-input:invalid:focus ~ .custom-file-label {
    box-shadow: none;
    border-color: $red_light_1;
}
.valid-tooltip {
    background:$green;
}
.invalid-tooltip {
    background:$red_light_1;
}
/*Select2*/
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.select2-dropdown {
    border-color:$light_10;
}
.select2-container {
    width:100%!important;
}
.select2-container--default {
    .select2-selection--single,
    .select2-selection--multiple {
        display: block;
        width: 100%;
        height: calc(2.25rem + 4px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: $dark;
        background-color: #fff;
        border: 2px solid $light_10;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:focus {
            border-color:$sky;
        }
        .select2-selection__arrow {
            height: calc(2.25rem + 4px);
            top: 0;
            right: 6px;
        }
        .select2-selection__rendered {
            color:$dark;
            line-height: inherit;
        }
    }
    .select2-search--dropdown .select2-search__field {
        border-color: $light_10;
    }
    &.select2-container--focus .select2-selection--multiple {
        border: solid $sky 2px;
    }
    &.select2-container--open {
        .select2-selection--single {
            border-color:$sky;
        }
        &.select2-container--below {
            .select2-selection--single,
            .select2-selection--multiple {
                border-radius: .25rem;
            }

        }
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: $sky;
    }
    .select2-results__option[aria-selected="true"] {
        background-color: $light;
        color:$dark;
    }
    .select2-selection--multiple {
        height:auto;
        min-height:calc(2.25rem + 4px);
        .select2-selection__choice {
            background-color: $sky;
            border: none;
            color: $white;
            margin-right: 6px;
            margin-top: 6px;
            padding: 1px 7px;
            .select2-selection__choice__remove {
                color: $white;
                font-weight: 600;
                margin-left: 6px;
                float: right;
                font-size: 14px;
                opacity: 0.5;
                padding-top:1px;
                &:hover {
                    opacity:1;
                }
            }
        }
        .select2-selection__rendered {
            padding: 0 6px;
        }

    }
}

.input-countrycode{
    color: $dark !important;
    border-width: 2px !important;
    border-color: $light_15 !important;
    padding: .375rem 3rem !important;
    height: calc(2.25rem + 4px) !important;
}

.reactTag-remove{

    &, &:hover{
        margin-left: 0.5rem !important;
        background-color: white !important;
        font-weight: bold !important;
        border: solid 3px $pink_bertha !important;
        border-radius: 0.25rem !important;
        color: white !important;
    }

    svg{
        fill: $pink_bertha;
    }
}

.main__block__profile {
    text-align: center;
    width: 90px;
    position: relative;
    margin: auto;

    .main__block__image {
        width: 90px;
        height: 90px;
        margin: 2.5rem auto 0;
        border-radius: 50%;
    }

    .icon {
        font-size: 24px;
        position: absolute;
        bottom: 6px;
        right: 6px;
        color: $green_bertha;
        border-radius: 50%;
    }

}
