.form-group {
  margin-bottom: 1rem;
}

/*Align*/

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}


/*--------RED CIRCLE RECORDING--------*/

/*--SCSS to make my life easy--*/
$light: #FF3200;

@mixin animation-attributes {
    animation-name: myAnimation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

/*--The Object--*/
.red-circle-recording {
    background-color: $light;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: auto;
    @include animation-attributes;
}

/*--The animation--*/
@keyframes myAnimation {
    0% {background-color: #FFFFFF;}
    50% {background-color: $light;}
    100% {background-color: #FFFFFF;}
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

input[type=submit].btn-block,
input[type=reset].btn-block,
input[type=button].btn-block {
  width: 100%;
}

.btn-lg {
  font-size: 1.1rem;
  border-radius: 0.25rem;
}

.custom-modal{
  //margin: 0 .5rem !important
  .close-button{
    right: 1rem;
    position: absolute;
    cursor: pointer;
  }
}

.navbar-menu-modal{
  max-width: 95vw !important;
  
  .modal-content{
    height: 95vh !important;
  }
  
}

.flyer-style{
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    font-weight: 700;
    color: black;
}

.loader-pendulums {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	margin: 0 auto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 4rem;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border: 0.1em solid #eaecec;
	&:before,&:after {
		content: '';
		width: 1em;
		height: 1em;
		left: -.1em;
		top: -.1em;
		padding: .1em;
		display: block;
		border-radius: 50%;
		position: absolute;
		-webkit-transform-origin: center center;
		transform-origin: center center;
		border: .1em solid;
		border-color: #adb3b6 transparent transparent transparent;
		-webkit-animation: pendulum infinite 2s cubic-bezier(0.3, 1.65, 0.7, -0.65);
		animation: pendulum infinite 2s cubic-bezier(0.3, 1.65, 0.7, -0.65);
	}
	&:before {
		border-color: $pink_bertha transparent transparent transparent;
		-webkit-animation-delay: -1s;
		animation-delay: -1s;
		-webkit-animation-name: pendulum2;
		animation-name: pendulum2;
	}
}

@-webkit-keyframes pendulum {
	from {
    transform: rotate(0deg);
	}
	to {
    transform: rotate(359deg);
	}
}

@keyframes pendulum {
	from {
    transform: rotate(0deg);
	}
	to {
    transform: rotate(359deg);
	}
}
@-webkit-keyframes pendulum2 {
	from {
    transform: rotate(180deg);
	}
	to {
    transform: rotate(520deg);
	}
}
@keyframes pendulum2 {
	from {
    transform: rotate(180deg);
	}
	to {
    transform: rotate(520deg);
	}
}

.no-box-shadow, .no-box-shadow:hover, .no-box-shadow:active, .no-box-shadow:focus{
    box-shadow: unset !important;
}

hr {
	margin-top:20px;
	margin-bottom:20px;
	border-top: 1px solid #eaecec;
	&.hr-2 {
		border-width: 2px!important;
	}
	&.hr-3 {
		border-width: 3px!important;
	}
}

.icon-action, .icon-action-sm, .icon-action-md, .icon-action-lg{
    color: black;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    &, &:hover, &:focus, &:active{
        cursor: pointer;
    }
}

.icon-action{
    font-size: 0.9rem;
}

.icon-action-sm{
    font-size: 0.9rem;
}

.icon-action-md{
    font-size: 1rem;
}

.icon-action-lg{
    font-size: 1.25rem;
}

.icon-red{
    color: red;
}

.icon-green{
    color: $success !important;
}

.icon-green-dark{
    color: green !important;
}

.icon-gray{
    color: rgb(155, 155, 155) !important;
}

.icon-pink{
    color: $pink_bertha !important;
}

.icon-purple{
    color: $purple_bertha !important;
}

.icon-gold{
    color: darkgoldenrod;
}

.icon-cuarentena{
    color: orangered !important;
    cursor: pointer;
}

.fas{
  width: fit-content !important;
}

.pagination-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.page-link {
	color:$dark;
	border-color:$light_10;
	&:focus,&:hover {
		color:$dark;
		background-color: $light_10;
		border-color: $light_10;
	}
}
.pagination {
	.page-item {
    &.disabled{
      .page-link{
        background-color: #FFFFFF !important;
      }
    }
		&.active {
			.page-link {
				background:$sky;
				border-color:$sky;
				color:$white;
			}
			&.active-info,
			&.active-cyan {
				.page-link {
					background:$cyan;
					border-color:$cyan;
					color:$white;
				}
			}
			&.active-primary,
			&.active-sky {
				.page-link {
					background:$sky;
					border-color:$sky;
					color:$white;
				}
			}
			&.active-success,
			&.active-green {
				.page-link {
					background:$green;
					border-color:$green;
					color:$white;
				}
			}
			&.active-danger,
			&.active-red {
				.page-link {
					background:$red;
					border-color:$red;
					color:$white;
				}
			}
			&.active-warning,
			&.active-yellow {
				.page-link {
					background:$yellow;
					border-color:$yellow;
					color:$white;
				}
			}
			&.active-pink {
				.page-link {
					background:$pink;
					border-color:$pink;
					color:$white;
				}
			}
			&.active-purple {
				.page-link {
					background:$purple;
					border-color:$purple;
					color:$white;
				}
			}
			&.active-violet {
				.page-link {
					background:$violet;
					border-color:$violet;
					color:$white;
				}
			}
			&.active-indigo {
				.page-link {
					background:$indigo;
					border-color:$indigo;
					color:$white;
				}
			}
			&.active-blue {
				.page-link {
					background:$blue;
					border-color:$blue;
					color:$white;
				}
			}
			&.active-teal {
				.page-link {
					background:$teal;
					border-color:$teal;
					color:$white;
				}
			}
			&.active-neon {
				.page-link {
					background:$neon;
					border-color:$neon;
					color:$white;
				}
			}
			&.active-lime {
				.page-link {
					background:$lime;
					border-color:$lime;
					color:$white;
				}
			}
			&.active-sun {
				.page-link {
					background:$sun;
					border-color:$sun;
					color:$white;
				}
			}
			&.active-orange {
				.page-link {
					background:$orange;
					border-color:$orange;
					color:$white;
				}
			}
			&.active-pumpkin {
				.page-link {
					background:$pumpkin;
					border-color:$pumpkin;
					color:$white;
				}
			}
			&.active-brown {
				.page-link {
					background:$brown;
					border-color:$brown;
					color:$white;
				}
			}
			&.active-gold {
				.page-link {
					background:$gold;
					border-color:$gold;
					color:$white;
				}
			}
			&.active-secondary,
			&.active-grey {
				.page-link {
					background:$grey;
					border-color:$grey;
					color:$white;
				}
			}
			&.active-light {
				.page-link {
					background:$light_10;
					border-color:$light_10;
					color:$dark;
				}
			}
			&.active-dark {
				.page-link {
					background:$dark;
					border-color:$dark;
					color:$white;
				}
			}
		}
		&.disabled {
			.page-link {
				color:$light_30;
			}
		}
	}
	&.custom-pagination {
		.page-item {
			+ .page-item {
				padding-left: 8px;
				margin: 0;
			}

      .disabled{
        .page-link{
          background-color: #fff;
        }
      }
		}
		.page-link {
			padding: .5rem .8rem;
			border-radius:.25rem;
		}
		&.pagination-rounded {
			.page-link {
				border-radius:50px;
			}
			.page-item:first-child,
			.page-item:last-child {
				.page-link {
					border-radius:50px;
				}
			}
		}
		&.pagination-filled {
			.page-item:not(.active) {
				.page-link {
					background:$light;
					border-color: $light;
				}
				&:hover {
					.page-link {
						background-color: $light_10;
					}
				}
			}
		}
		&.pagination-simple {
			.page-item:not(.active) {
				.page-link {
					border-color:transparent;
				}
			}
		}
	}
}

.pagination .page-item.active .page-link {
    background: $pink_bertha;
    border-color: $pink_bertha;
    color: #fff;
}