
$Top_Navbar_Height: 60px;

.bertha-top-navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: $white_bertha;
    height: $Top_Navbar_Height;
    padding: .5rem 1rem;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.07);

    .menu-button{
        color: $dkgray_bertha;
        border: solid 2px $dkgray_bertha;
        padding: .3755rem;
        border-radius: 0.25rem;
        
        &:hover, &:active, &:focus{
            cursor: pointer;
        }
    }

    .menu-logo{
        width: 100px;
        height: auto;
    }
}

$navbaropen:240px;

.navbar-primary {
  width: 0;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @media (min-width: 1200px) {
        width: $navbaropen;
  }

}

.main-content {
  margin-top: 0px;
  margin-left: 0;
  padding: 20px 20px 0px 20px;
  /*&.sidebar-collapsed{
    margin-left: 60px;
  }*/

  @media (min-width: 1200px) {
    margin-left: $navbaropen;

    &.sidebar-collapsed{
      margin-left: 60px;
    }
  }
}

.bertha-mobile-menu{
  .menu-title{
    font-size: 2rem;

    p{
      color: $dkgray_bertha;
      margin: 0;
    }

    hr{
      margin: .5rem 0 !important;
    }

    .close-button{
      right: 1rem;
      position: absolute;
      cursor: pointer;
    }
  }

  .menu-list{
    font-size: 1.25rem;

    &, .sub-menu{
      list-style-type: none;
      padding: 0;
    }

    li{
      .items{
          display: block;
          padding: .75rem .5rem;
          text-align: left;
          color: $dkgray_bertha;
          text-decoration: none;
      }
    }

    .items:hover, .label-link:hover{
      background-color: $white_hover_bertha;
      color: $dkgray_hover_bertha;
    }

    .items.selected, .arrow.selected{
      border-radius: .5rem;
      background-color: $pink_bertha;
      color: $white_bertha;
      font-weight: bold;
    }

    .label-link{
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      
      .arrow{
        display: block;
        margin-right: 10px;

        &.rotate{
          transform: rotate(-180deg);
          transition: all 0.3s ease;
        }
      }
    }
  }
}


.bertha-vertical-navbar{
    height: calc(100vh - $Top_Navbar_Height);
    background-color: $white_bertha;
    color: $dkgray_bertha;
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: $Top_Navbar_Height;
    width: 0;

    @media (min-width: 1200px) {
        width: $navbaropen;
    }

    .navbar-primary-menu{
        margin-top: 1rem;

        .items:hover, .label-link:hover{
          background-color: $white_hover_bertha;
          color: $dkgray_hover_bertha;
        }

        .items.selected, .arrow.selected{
          background-color: $pink_bertha;
          color: $white_bertha;
          font-weight: bold;
        }

        li{
          .items{
              display: block;
              padding: .5rem 1rem;
              text-align: left;
              color: $dkgray_bertha;
              text-decoration: none;
          }
        }

        .label-link{
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          
          .arrow{
            display: block;
            margin-right: 10px;

            &.rotate{
              transform: rotate(-180deg);
              transition: all 0.3s ease;
            }
          }
        }

        .sub-menu{
          &.open{
            display: block;
            &>li{
              font-size: 0.9rem;
              text-align: left;
              color: #ccc;
              text-decoration: none;
            }
          }

          &.close{
            display: none;
          }
        }
    }

    .btn-expand-collapse {
        position: absolute;
        display: block;
        left: 0px;
        bottom:0;
        width: 100%;
        padding: 8px 0;
        border-top:solid 1px $dkgray_bertha;
        color: grey;
        text-align: center;
    }
}

.navbar-primary.collapsed{
  .label-link{
    .arrow{
      display: none !important;
    }
  }
  .sub-menu{
    display: none !important;
  }
}

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user > li > a
{
  color: white;
}



.navbar-primary.collapsed {
  width: 60px;
}

.navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}



.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0;
  list-style: none;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
  color: orchid;
}



.session-menu-button{
  img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6), 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: transparent !important;
    z-index: 999;
  }
}